@import "variables-theme.scss";

#market-app {
  font-family: "Open Sans", Frutiger, Calibri, sans-serif;
  @extend .uk-background-muted;

  .uk-button * {
    cursor: pointer;
  }
}

@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

// Animations

.fade-enter-active, .fade-leave-active {
  transition: transform .5s, opacity .45s
}

.fade-enter {
  transform: translateY(-10px);
  opacity: 0;
}

.fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

// Reset overwritten core css styles

#expanddiv ul,
#apps ul {
  margin-bottom: 0;
  padding-left: 0;

  a:hover {
    text-decoration: none;
  }
}